<script>

    $(function () {

        // const socket = new WebSocket('ws://localhost:3000');
        const socket = new WebSocket('ws://192.168.1.156:3000');

        socket.addEventListener('open', function (event){ //Evento que se ejecuta al abrir el Socket - Crear la conexion
            enviarMensaje('inicio','Inicio de conexion');
        });

        socket.addEventListener('message', function(event){
           console.log('Mensaje recibido del servidor: ' + event.data);

           /*if (JSON.parse(event)) {
               console.log("JSON ES: ", JSON.parse(event));
           }*/

           $('#messages').append($('<li>').text(event.data));
        });

        $('form').submit(function(){

            enviarMensaje('mensaje', $('#m').val());

            //socket.send($('#m').val());

            $('#m').val('');
            return false;
        });

        function enviarMensaje(tipo, mensaje){
            let capsula = {};
            capsula.tipo = tipo;
            capsula.mensaje = mensaje;
            capsula.cliente = 'web';
            socket.send(JSON.stringify(capsula));
        }

    });
</script>

<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>