<h1 class="center" style="text-align: center">{{title}}</h1>


<div id="divInfoDesarrollo" class="center" style="text-align: center">
    <br>
    <strong>Developed by</strong>
    <br>
    <label><a href="http://www.mdg.ss.is.nagoya-u.ac.jp">安田・遠藤研究室</a></label>
    <br>
    Aurelio Pinero・遠藤守・兼松敦子
    <br>
    Version: 0.1 beta
</div>

<div id="divData" class="center" style="text-align: center">
    <strong>Data from</strong>
    <br>
    名古屋市病院 by <a href="http://linkdata.org/user/Yasue_Shohei">Yasue</a> - <a href="http://linkdata.org/work/rdf1s268i">Source</a>
    <br>
    京都の緊急医療機関情報 by <a href="http://linkdata.org/user/kyoto_flowertourism">京都フラワーツーリズム</a> - <a href="http://linkdata.org/work/rdf1s1530i">Source</a>
    <br>
    裾野市　医療機関 by <a href="http://linkdata.org/user/susonojoho">裾野市</a> - <a href="http://linkdata.org/work/rdf1s1132i">Source</a>
    <br>
    北上市病院一覧 by <a href="http://linkdata.org/user/kitacon">北上コンピュータ・アカデミー</a> - <a href="http://linkdata.org/work/rdf1s3965i">Source</a>
    <br>
    豊島区の医療機関 by <a href="http://linkdata.org/user/KeitarouNakayama">KeitarouNakayama</a> - <a href="http://linkdata.org/work/rdf1s3617i">Source</a>

</div>

<div id="divLicencia" class="center" style="text-align: center">
    <strong>License</strong>
    <br>
    Creative Commons License 4.0 CC BY
    <img src="/images/gfd/cc-by.png">
</div>

<div id="divIconos" class="center" style="text-align: center">
    <strong>Icons</strong>
    <br>
    <br>
    Icons made by <a href="http://www.freepik.com"><strong>Freepik</strong></a>, and <a href="http://www.flaticon.com/authors/pixel-buddha"><strong>Pixel Buddha</strong></a> from <a href="http://www.flaticon.com"><strong>www.flaticon.com</strong></a>
</div>

