<h1 class="center" style="text-align: center">{{title}}</h1>
<!-- <p>Welcome to {{ title }}</p> -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFt6MSFMohozFOuPIVrs_1hZFwyqpyPTo"></script>
<script src="javascripts/views/createclinic.js" defer="defer"></script>

<div class="main">
        <br>
        <div id="map" class="center"></div>
</div>