<script src="/javascripts/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="/javascripts/vendors/jstarbox/jstarbox.js"></script>
<script src="/javascripts/views/createclinic.js"></script>
<link rel="stylesheet" href="/stylesheets/jstarbox.css">

<div id="Loading">
    <div id="loading-img"></div>
</div>

<div class="mainContent">

    <h1 class="center" style="text-align: center">{{title}}</h1>
    <br>

    <div class="divDatosClinica">

        <div id="contenedorLogoMapa" style="position: relative">
            <div id="mapC"></div>
            <img id="imagenLogo" src="/images/gfd/lang/hospital.png" style="float: left; margin-right: 25px; height: auto; width: 700px">
        </div>

        <form>
            <strong style="float: left;">クリニックの基本情報 - Clinic base information</strong>
            <br>
            <br>
            <input type="text" name="field1" placeholder="クリニック名 - Clinic name" onChange="obtenerNombre(this);" maxlength="100"/>
            <input type="text" name="field2" placeholder="クリニック住所（地図が自動的に表示される） - Address (Map will be automatically displayed)" onChange="displayMap(this);" maxlength="250"/>

            <br>
            <strong style="float: left;">言語 - Languages</strong>
            <br>
            <br>

            <!--Idiomas-->
            <div id="divBanderasIdiomas">
                <div id="divInglesDoc" class="infoIdioma" style="float: left; overflow: auto; width: 250px">
                    <img id="banderaIngles" src="/images/gfd/lang/united-states.png" class="imagenBanderaReview"/>
                    <span class="labelIdioma">英語 - ENGLISH</span>
                    <br>
                    <span>Doctor: </span><span id="inglesDoc"></span> &nbsp;
                    <span class="cc-selector">
                        <input id="thumbUpInglesDoc" type="radio" name="votoInglesDoc" value="up" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tUp" for="thumbUpInglesDoc"></label>
                        <input id="thumbDownInglesDoc" type="radio" name="votoInglesDoc" value="down" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tDown" for="thumbDownInglesDoc"></label>
                    </span>
                    <br>
                    <span>Staff: </span><span id="inglesStaff" ></span> &nbsp;
                    <span class="cc-selector">
                        <input id="thumbUpInglesStaff" type="radio" name="votoInglesStaff" value="up" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tUp" for="thumbUpInglesStaff"></label>
                        <input id="thumbDownInglesStaff" type="radio" name="votoInglesStaff" value="down" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tDown" for="thumbDownInglesStaff"></label>
                    </span>
                </div>

                <div id="divChinoDoc" class="infoIdioma">
                    <img id="banderaChino" src="/images/gfd/lang/china.png" class="imagenBanderaReview"/>
                    <span class="labelIdioma">中国語 - CHINESE</span>
                    <br>
                    <span>Doctor: </span><span id="chinoDoc"></span> &nbsp;
                    <span class="cc-selector">
                        <input id="thumbUpChinoDoc" type="radio" name="votoChinoDoc" value="up" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tUp" for="thumbUpChinoDoc"></label>
                        <input id="thumbDownChinoDoc" type="radio" name="votoChinoDoc" value="down" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tDown" for="thumbDownChinoDoc"></label>
                    </span>
                    <br>
                    <span>Staff: </span><span id="chinoStaff"></span> &nbsp;
                    <span class="cc-selector">
                        <input id="thumbUpChinoStaff" type="radio" name="votoChinoStaff" value="up" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tUp" for="thumbUpChinoStaff"></label>
                        <input id="thumbDownChinoStaff" type="radio" name="votoChinoStaff" value="down" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tDown" for="thumbDownChinoStaff"></label>
                    </span>
                </div>

                <br>

                <div id="divCoreanoDoc" class="infoIdioma" style="float: left; overflow: auto; width: 250px">
                    <img id="banderaCoreano" src="/images/gfd/lang/south-korea.png" class="imagenBanderaReview"/>
                    <span class="labelIdioma">韓国語 - KOREAN</span>
                    <br>
                    <span>Doctor: </span><span id="coreanoDoc"></span> &nbsp;
                    <span class="cc-selector">
                        <input id="thumbUpCoreanoDoc" type="radio" name="votoCoreanoDoc" value="up" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tUp" for="thumbUpCoreanoDoc"></label>
                        <input id="thumbDownCoreanoDoc" type="radio" name="votoCoreanoDoc" value="down" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tDown" for="thumbDownCoreanoDoc"></label>
                    </span>
                    <br>
                    <span>Staff: </span><span  id="coreanoStaff"></span> &nbsp;
                    <span class="cc-selector">
                        <input id="thumbUpCoreanoStaff" type="radio" name="votoCoreanoStaff" value="up" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tUp" for="thumbUpCoreanoStaff"></label>
                        <input id="thumbDownCoreanoStaff" type="radio" name="votoCoreanoStaff" value="down" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tDown" for="thumbDownCoreanoStaff"></label>
                    </span>
                </div>

                <div id="divEspanolDoc" class="infoIdioma">
                    <img id="banderaEspanol" src="/images/gfd/lang/spain.png" class="imagenBanderaReview"/>
                    <span class="labelIdioma">スペイン語 - SPANISH</span>
                    <br>
                    <span>Doctor: </span><span id="espanolDoc"></span> &nbsp;
                    <span class="cc-selector">
                        <input id="thumbUpEspanolDoc" type="radio" name="votoEspanolDoc" value="up" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tUp" for="thumbUpEspanolDoc"></label>
                        <input id="thumbDownEspanolDoc" type="radio" name="votoEspanolDoc" value="down" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tDown" for="thumbDownEspanolDoc"></label>
                    </span>
                    <br>
                    <span>Staff: </span><span  id="espanolStaff"></span> &nbsp;
                    <span class="cc-selector">
                        <input id="thumbUpEspanolStaff" type="radio" name="votoEspanolStaff" value="up" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tUp" for="thumbUpEspanolStaff"></label>
                        <input id="thumbDownEspanolStaff" type="radio" name="votoEspanolStaff" value="down" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tDown" for="thumbDownEspanolStaff"></label>
                    </span>
                </div>

                <br>

                <div id="divOtroIdiomaDoc" class="infoIdioma" style="float: left; overflow: auto; width: 250px">
                    <img id="banderaOtro" src="/images/gfd/lang/other.png" class="imagenBanderaReview"/>
                    <span class="labelIdioma">その他 - OTHER</span>
                    <br>
                    <span>Doctor: </span><span id="otroDoc"></span> &nbsp;
                    <span class="cc-selector">
                        <input id="thumbUpOtroDoc" type="radio" name="votoOtroDoc" value="up" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tUp" for="thumbUpOtroDoc"></label>
                        <input id="thumbDownOtroDoc" type="radio" name="votoOtroDoc" value="down" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tDown" for="thumbDownOtroDoc"></label>
                    </span>
                    <br>
                    <span>Staff: </span><span  id="otroStaff"></span> &nbsp;
                    <span class="cc-selector">
                        <input id="thumbUpOtroStaff" type="radio" name="votoOtroStaff" value="up" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tUp" for="thumbUpOtroStaff"></label>
                        <input id="thumbDownOtroStaff" type="radio" name="votoOtroStaff" value="down" onclick="clickThumb(this);" />
                        <label class="pulgar-cc tDown" for="thumbDownOtroStaff"></label>
                    </span>
                </div>
                <br>
            </div>
            <!--Mapa-->
            <br>
            <br>
            <br>
            <br>

            <strong style="float: left;">Doctor's Friendliness Level</strong>
            <br>
            <br>
            <div class="starbox"> </div>
            <br> &nbsp;
            <a id="divRatingActitud" class="infoFriendliness" ></a>

            <br>
            <br>
            <strong>Prescription, Indications and dosage explanation in foreign language?</strong>
            <span id="divRatingExplicacion" class="infoIndicacion"></span> &nbsp;
            <span class="cc-selector">
                <input id="thumbUpIndicacion" type="radio" name="votoIndicacion" value="up" onclick="clickThumb(this);" />
                <label class="pulgar-cc tUp" for="thumbUpIndicacion"></label>
                <input id="thumbDownIndicacion" type="radio" name="votoIndicacion" value="down" onclick="clickThumb(this);" />
                <label class="pulgar-cc tDown" for="thumbDownIndicacion"></label>
            </span>
            <br>
            <br>
            <br>
            <!--Estos botones tienen que ir centrados-->
            <div id="botones">
                <a id="botonBackC" class="btn" onclick="history.back(-1);">Back</a>
                &nbsp;
                <a id="botonAdd" class="btn" onclick="agregarClinica();" style="display: none">Add Clinic</a>
                &nbsp;
                <a id="botonClearC" class="btn" onclick="clearInput();" style="display: none">Clear</a>
            </div>
        </form>
    </div>
</div>

<script>
    iniciar();
</script>