<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <ul>
        <li><a><img src="/images/gfd/hospital.png" style="width: 52px; height: auto"></a></li>
        <li class="tablinks"><a href="javascript:void(0)" onclick="location.assign('create.html'); return false;" style="margin-top: 18px; margin-bottom: 16px">CREATE</a></li>
        <li class="tablinks"><a href="javascript:void(0)" onclick="location.assign('dataSource.html'); return false;" style="margin-top: 18px; margin-bottom: 16px">DATA SOURCE</a></li>
        <li class="tablinks"><a href="javascript:void(0)" onclick="location.assign('about.html'); return false;" style="margin-top: 18px; margin-bottom: 16px">ABOUT</a></li>
    </ul>
    <br><br><br><br><br><br>
    {{{ body }}}
</body>
</html>
