<script src="/javascripts/main.js" defer="defer"></script>

<div class="main">
    <h1 class="center" style="text-align: center">{{title}}</h1>
    <br>
    <button type="button" id="botonHeartBeat" onclick="pruebaBoton()">PRUEBA</button>
    <br>
    <br>
    El manejo desde los terminales hasta el servidor se hacen tambien en sockets.
    <br>
    <br>
    <ul id="messages"></ul>
</div>